/* Make content area fill the entire browser window */
html, body {

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: Arial, sans-serif;
    /*background: linear-gradient(21deg, rgba(2,0,36,1) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);*/
}

/* Center the content in the browser window */
.container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
}

.title {
    font-size: 3rem;
}

.head {
    font-weight: bold;
    position: fixed;
    width: 100%;
    display: block;
    height: 10%;
    border-bottom: 1px solid black;
}

.tasks {
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    top: 10%;
    height: 80%;
}

.right {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

.date{
    float: left;
    position: absolute;
    top: 5%;
    left: 10px;
    font-size: 30px;
}


.menue{
    position:fixed;
    bottom: 0%;
    width: 100%;
    display: block;
    height: 7%;
    border-top: 1px solid black;
}

.fixed{
    position:fixed;
    bottom: 0;
    width: 100%;
    display: block;
    height: 7%;
    border-top: 1px solid black;
}


/* Tasks */

.back{
    position: absolute;
    left: 3%;
    top: 45%;
}

.save{
    position: absolute;
    right: 3%;
    top: 45%;
}

.task{
    display: flex;
    position: relative;
    justify-content:space-around;
    background: lightgrey;
    border-bottom: 1px solid;
    border-color: black;
}

.grey-background {
    margin-top: 2%;
    background: lightgrey;
    position: relative;
    width: 100%;
    height: 4%;
    paddign-top: 0.5%;
    padding-bottom: 0.5%;
}

.grey-background2 {
    margin-top: 2%;
    background: lightgrey;
    position: relative;
    width: 100%;
    paddign-top: 0.5%;
    padding-bottom: 0.5%;
}

input{
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    background-color: lightgrey;
    border-color: lightgrey;
}

.center{
    position: absolute;
    margin-right: 15%;
    margin-left: 15%;
    width: 30%;
}

.addImg {
    position: relative;
    bottom: 60%;
    height: 120%;
}


label{
    position: absolute;
    width: 90%;
    height: 100%;
}

.left{
    position: absolute;
    margin-left: 5%;
    width: 100%;
}

.leftRelative{
    position: relative;
    margin-left: 5%;
    width: 100%;
}

.rightInput{
    position: absolute;
    right: 10%;
}

.node{
    position: relative;
    width: 90%;
    rows: 2;
}
/* Logo MyOrganiser */

.middle-Logo{
    bottom: 0;
    width: 100%;
    display: block;
    height: 7%;
    position: fixed;
    text-align: center;
    color: grey;
}
